@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-image: url('../imagens/fundo1.png'); /* Ajuste o caminho para a imagem de fundo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff; /* Mude a cor do texto para branco para melhor contraste */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor legibilidade */
    width: 100%;
}

.logo img {
    max-width: 100px; /* Ajuste o tamanho do logo conforme necessário */
    margin-bottom: 20px;
}

.header-content h1 {
    margin: 0;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 10px;
}

.buttons .button {
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
}

.buttons .button:hover {
    background-color: #0056b3;
}

.menu {
    padding: 10px 0;
    width: 100%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff; /* Mude a cor do texto para branco para melhor contraste */
    padding: 5px 10px;
}

.menu ul li a:hover {
    background-color: #ddd;
    border-radius: 5px;
    color: #333; /* Mude a cor do texto para preto ao passar o mouse */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor legibilidade */
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #fff; /* Mude a cor do texto para branco para melhor contraste */
}
